body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
   background-color: whitesmoke;
}
header{
    background:url(img/DM.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 0.8rem;
}
.navbar{
    background: rgb(0,0,0);
    background: linear-gradient(2deg, rgba(0,0,0,0.6026785714285714) 0%, rgba(255,255,255,0.9220063025210083) 100%);
    display: flex;
    width: 100%;
    box-shadow: 3px 9px 137px -10px rgba(224,211,211,0.75);
    -webkit-box-shadow: 3px 9px 137px -10px rgba(224,211,211,0.75);
    -moz-box-shadow: 3px 9px 137px -10px rgba(224,211,211,0.75);
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
  
}
img{
    width: 40%;
}
p{
    color: white;
    padding: 0.8rem;
    padding-left: 2rem;
}
.mobilelinks{
    display: none;
}
.navlinks ul{
    list-style: none;
    display: flex;
    padding: 1rem;
    padding-left: 2.5rem;
    justify-content: space-between;
    width: 30vw;
}
.navlinks a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.contents{
    display: none;
    position: absolute;
}
.contents ul{
    flex-direction: column;
}
.contents a{
    text-decoration: none;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(2deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.9220063025210083) 100%);
    padding: 1rem;
    line-height: 4rem;
    margin: auto;
}
.dropdown:hover .contents {display: block;}
.contents a:hover {color: rgb(160, 134, 134);}
.menubar{
    display:none;
}
/* profile */

.imageprofile{
    border: none;
    width: 30%;
    background-color: white;
    margin: auto;
    margin-top:10rem;
    text-align: center;
    border-radius: 2rem;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageprofile img{
    width: 20rem;
    height: 20rem;
    border: solid;
    border-width: 0.4rem;
    border-color: rgb(163, 13, 13);
    border-radius: 10rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 0.4rem;
}
.imageprofile h2{
    font-size: 2rem;
    color: #8989eb;
}
/* animation */
.bod{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 2rem;
    height: 4rem;
    border-radius: 2rem;

}
.main{
    display: flex;
}
.main .text{
    color: black;
    font-size: 1.7rem;
    font-weight: 400;
    position: relative;
    top: 2.7rem;
    left: 1rem;
}
.main .option{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.option li
{
list-style: none;
font-size: 1.7rem;
font-weight: 500;
position: relative;
right: 2rem;
top: 0;

animation: slide 6s steps(4) infinite;
}
@keyframes slide
{
100%
{
top: -360px;
}
}
/* animation */
.randombtn{
    padding: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: small;
    background-color:#d1d1f5 ;
    border-radius: 0.3rem;
    color: blue;
    cursor: pointer;
    border-left-color: #b3b3f3;
    border-top-color: #b3b3f3;
    border-right-color: #3838cf;
    border-bottom-color: #0000ff;
    margin-bottom: 1rem;
    margin-top: 0;
}
.randombtn:hover{
    background-color: #8888f0;
    color: black;
}
/* 
about me */
#body{
    text-align: center;
    padding: 3rem;
}
#body h1{
    font-size: 3rem;
    position: relative;
    top: 5rem;
}
.flexbody{
    display: flex;
    padding: 5rem;
    justify-content: space-between;
}
.bodyimage img{
    border: solid;
    border-width: 0.4rem;
    border-color: white;
    border-radius: 2rem;
    width: 20rem;
    height: 30rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
}
.bodytext h2{
    margin-left: 2rem;
    font-size: 2rem;

}
.bodytext{
    text-align: left;
   position: relative;
   bottom: 1.9rem;
   margin-left: 3rem
}
.bodytext p{
    color: black;
}
.downloadbtn{
    margin-bottom: 0;
    position: relative;
    bottom: 7rem;
    margin-right: 12rem;
}
/* my services */

#services{
    text-align: center;
    position: relative;
    bottom: 7rem;
}
#services p{
    color: black;
}
#services h1{
    padding: 1rem;
    font-size: 2.4rem;
            
}
.container{
    border: none;
    padding: 2rem;
    width: 40%;
    background-color: white;
    margin: auto;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.name{
    color: #8989eb;
}
.service{
    color: #5a5656;
    font-size: 1.07rem;
}
.icons i{
    color: black;
    font-size: 3rem;
}
i{
    color: #c8c8f5;
}
i:hover{
    cursor: pointer;
    color:#8989eb;
}
.prevbtn,.nextbtn{
    border: none;
    padding: 2rem;
    background-color: inherit;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
/* marketing campaigns */
.marketing{
   padding: 2rem;
   padding-bottom: 10rem;
}
.marketing h1{
    font-size: 3rem;
    text-align: center;
}
.flexmarket{
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}  
.campaigns img{
    width: 80%;
    border: solid;
    border-width: 0.4rem;
    border-color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cam1{
    position: relative;
}
.cam1:hover .text1{
    visibility: visible;
}
.text1{
    position: absolute;
    top: 0;
    left: 3.7rem;
    background-color: whitesmoke;
    opacity: 0.4;
    width:533px;
    height: 300px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    visibility: hidden;
}
.text1 a{
    text-decoration: none;
    cursor: pointer;
}
.cam2{
    position: relative;
}
.cam2:hover .text2{
    visibility: visible;
}
.text2{
    position: absolute;
    top: 0;
    left: 3.7rem;
    background-color: whitesmoke;
    opacity: 0.4;
    width:533px;
    height: 300px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    visibility: hidden;
}
.text2 a{
    text-decoration: none;
    cursor: pointer;
}

 /* brands */
 .brands{
    padding: 2rem;
    padding-bottom: 10rem;
 }
 .brands h1{
     font-size: 3rem;
     text-align: center;
 }
 .flexbrand{
     display: flex;
     justify-content: space-between;
     margin: auto;
 } 
 .brand img{
    width: 12rem;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 0.3s ease-out;
}
.brand img:hover{
    transform: translateY(10px);
}

/* contact me */
#contact{
    padding: 3rem;
}
.con{
    font-size: 4rem;
    color: rgb(15, 1, 1);
    text-align: center;
    position: relative;
    bottom: 7rem;
}
.socials{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 7rem;
}
.socials a{
    text-decoration: none;
    font-size: 1.7rem; 
    font-weight: 400;
}
.fac{
    transition: transform 0.3s ease-out;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
.fac:hover{
    transform: translateY(10px);
}
hr{
    border-color: #020000;
    border-width: 0.4rem;
}
.footnote a{
    text-decoration: none;
}
.footnote p{
    color: #020000;
}
.footnote i{
    font-size: 2rem;
}
span{
    color: red;
}
.ig{
    color: rgb(202, 77, 77);
}
.twi{
    color: blue;
}
.mai{
    color: purple;
}
.cal{
    color: green;
}
@media (max-width:400px){

    header{
        background-position: right;
        width: 100%;
    }
    /* navbar */
    .navbar{
        flex-direction: column;
        align-items: flex-start;
       
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .logo p{
        padding: 0;
    }
    .menubar{
        display: contents; 
    }
    .menubar a{
        color: white;
        padding-right: 1rem;
        animation: bounce 2s ease-in-out infinite;
        padding: 0;
    }
    @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
    .navlinks{
      display: none;
    }
    .mobilelinks{
        display: none;
    }
    .appear{
        display: contents;
    }
    img{
        width: 30%;
    }
    .mobilelinks ul{
        list-style: none;
        padding: 0;
        margin-left: 0.4rem;
    }
    .mobilelinks a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 0.7em;
        
    }
    .mobilelinks a:hover{
        color: rgb(1, 1, 15);
        background: white;

    }
      /* profile */
    .imageprofile{
        width: 80%;
    }
    .option li{
        font-size: 0.8rem;
    }
    .main .text{
        color: black;
        font-size: 0.8rem;
        font-weight: 400;
        position: relative;
        top: 3.3rem;
        left: 1rem;
    }
    .imageprofile img{
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 0.4rem;
    }

     /* aboutme */
     #body{
        width: 100%;
        padding: 0rem;
        padding-top: 5rem;
    }
    #body h1{
        font-size: 2rem;
        position: relative;
        top: 0rem;
    }
    .bodyimage img{
        width: 12rem;
        height: 17rem;
    }
    .flexbody{
        flex-direction: column;
        padding: 0;
        margin: auto;
    }
    .bodytext{
        margin: 0rem;
        padding: 0rem;
        position: relative;
        bottom: 1rem;
    }
    .bodytext h2{
        font-size: 1.7rem;
        text-align: center;
    }
    .downloadbtn{
        position: relative;
        bottom: 0rem;
        margin: auto;
    }
    /* my services */
    #services{
        width: 100%;
        position: relative;
        bottom: 0rem;
        text-align: center;
      
    }
    #services h1{
        padding: 0rem;
        font-size: 1.7rem;         
    }
    .container{
        width: 70%;
        padding: 1rem;
       
    }
    .service{
        color: #5a5656;
        font-size: 1.2rem;
       margin-right: 1rem;
    }
    .prevbtn,.nextbtn {
       padding: 1rem;
    }
   
    /* marketing */
    .marketing{
        width: 100%;
        padding: 0;
        margin-top: 10em;
    }
    .marketing h1{
        font-size: 1.7rem;
    }
    .flexmarket{
        flex-direction: column;
    }
    .campaigns img{
        margin-bottom: 2rem;
        width: 60%;
    }
    .cam1:hover .text1{
        visibility: hidden;
    }
    .cam2:hover .text2{
        visibility: hidden;
    }
    }
      /* brands */
      .brands{
        width: 100%;
        padding: 0rem;
        padding-bottom: 10rem;
     }
      .flexbrand{
        flex-direction: column;
       text-align: center;
    }
    .brands h1{
        font-size: 1.7rem;
        padding: 2rem;
    }
    .brand img{
        padding: 1rem;
        width: 12rem;
        height: 12rem;
        margin-bottom: 3rem;
    }
     /* contact me */
     #contact{
        width: 100%;
        padding: 0;
     }
     .con{
        font-size: 3rem;
    }
    #contact h1{
        font-size: 2rem;
    }
    .socials{
        flex-direction: column;
    }
    .socials a{
        font-size: 0.8rem;
    }
    .fac{
        padding: 1rem;
        text-align: left;
    }
    @media (max-width:600px){

        header{
            background-position: right;
            width: 100%;
        }
        /* navbar */
        .navbar{
            flex-direction: column;
            align-items: flex-start;
           
        }
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }
        .logo p{
            padding: 0;
        }
        .menubar{
            display: contents; 
        }
        .menubar a{
            color: white;
            padding-right: 1rem;
            animation: bounce 2s ease-in-out infinite;
            padding: 0;
        }
        @keyframes bounce {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.5);
            }
            100% {
              transform: scale(1);
            }
          }
        .navlinks{
          display: none;
        }
        .mobilelinks{
            display: none;
        }
        .appear{
            display: contents;
        }
        img{
            width: 30%;
        }
        .mobilelinks ul{
            list-style: none;
            padding: 0;
            margin-left: 0.4rem;
        }
        .mobilelinks a{
            display: block;
            text-decoration: none;
            color: white;
            padding: 0.7em;
            
        }
        .mobilelinks a:hover{
            color: rgb(1, 1, 15);
            background: white;
    
        }
          /* profile */
        .imageprofile{
            width: 80%;
        }
        .option li{
            font-size: 0.8rem;
        }
        .main .text{
            color: black;
            font-size: 0.8rem;
            font-weight: 400;
            position: relative;
            top: 3.3rem;
            left: 1rem;
        }
        .imageprofile img{
            width: 10rem;
            height: 10rem;
            border-radius: 10rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin-top: 0.4rem;
        }
    
         /* aboutme */
         #body{
            width: 100%;
            padding: 0rem;
            padding-top: 5rem;
        }
        #body h1{
            font-size: 2rem;
            position: relative;
            top: 0rem;
        }
        .bodyimage img{
            width: 12rem;
            height: 17rem;
        }
        .flexbody{
            flex-direction: column;
            padding: 0;
            margin: auto;
        }
        .bodytext{
            margin: 0rem;
            padding: 0rem;
            position: relative;
            bottom: 1rem;
        }
        .bodytext h2{
            font-size: 1.7rem;
            text-align: center;
        }
        .downloadbtn{
            position: relative;
            bottom: 0rem;
            margin: auto;
        }
        /* my services */
        #services{
            width: 100%;
            position: relative;
            bottom: 0rem;
            text-align: center;
          
        }
        #services h1{
            padding: 0rem;
            font-size: 1.7rem;         
        }
        .container{
            width: 70%;
            padding: 1rem;
           
        }
        .service{
            color: #5a5656;
            font-size: 1.2rem;
           margin-right: 1rem;
        }
        .prevbtn,.nextbtn {
           padding: 1rem;
        }
       
        /* marketing */
        .marketing{
            width: 100%;
            padding: 0;
            margin-top: 10em;
        }
        .marketing h1{
            font-size: 1.7rem;
        }
        .flexmarket{
            flex-direction: column;
        }
        .campaigns img{
            margin-bottom: 2rem;
            width: 60%;
        }
        .cam1:hover .text1{
            visibility: hidden;
        }
        .cam2:hover .text2{
            visibility: hidden;
        }
        }
          /* brands */
          .brands{
            width: 100%;
            padding: 0rem;
            padding-bottom: 10rem;
         }
          .flexbrand{
            flex-direction: column;
           text-align: center;
        }
        .brands h1{
            font-size: 1.7rem;
            padding: 2rem;
        }
        .brand img{
            padding: 1rem;
            width: 12rem;
            height: 12rem;
            margin-bottom: 3rem;
        }
         /* contact me */
         #contact{
            width: 100%;
            padding: 0;
         }
         .con{
            font-size: 3rem;
        }
        #contact h1{
            font-size: 2rem;
        }
        .socials{
            flex-direction: column;
        }
        .socials a{
            font-size: 0.8rem;
        }
        .fac{
            padding: 1rem;
            text-align: left;
        }
        @media (max-width:768px){

            header{
                background-position: right;
                width: 100%;
            }
            /* navbar */
            .navbar{
                flex-direction: column;
                align-items: flex-start;
               
            }
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
            }
            .logo p{
                padding: 0;
            }
            .menubar{
                display: contents; 
            }
            .menubar a{
                color: white;
                padding-right: 1rem;
                animation: bounce 2s ease-in-out infinite;
                padding: 0;
            }
            @keyframes bounce {
                0% {
                  transform: scale(1);
                }
                50% {
                  transform: scale(1.5);
                }
                100% {
                  transform: scale(1);
                }
              }
            .navlinks{
              display: none;
            }
            .mobilelinks{
                display: none;
            }
            .appear{
                display: contents;
            }
            img{
                width: 30%;
            }
            .mobilelinks ul{
                list-style: none;
                padding: 0;
                margin-left: 0.4rem;
            }
            .mobilelinks a{
                display: block;
                text-decoration: none;
                color: white;
                padding: 0.7em;
                
            }
            .mobilelinks a:hover{
                color: rgb(1, 1, 15);
                background: white;
        
            }
              /* profile */
            .imageprofile{
                width: 80%;
            }
            .option li{
                font-size: 0.8rem;
            }
            .main .text{
                color: black;
                font-size: 0.8rem;
                font-weight: 400;
                position: relative;
                top: 3.3rem;
                left: 1rem;
            }
            .imageprofile img{
                width: 10rem;
                height: 10rem;
                border-radius: 10rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                margin-top: 0.4rem;
            }
        
             /* aboutme */
             #body{
                width: 100%;
                padding: 0rem;
                padding-top: 5rem;
            }
            #body h1{
                font-size: 2rem;
                position: relative;
                top: 0rem;
            }
            .bodyimage img{
                width: 12rem;
                height: 17rem;
            }
            .flexbody{
                flex-direction: column;
                padding: 0;
                margin: auto;
            }
            .bodytext{
                margin: 0rem;
                padding: 0rem;
                position: relative;
                bottom: 1rem;
            }
            .bodytext h2{
                font-size: 1.7rem;
                text-align: center;
            }
            .downloadbtn{
                position: relative;
                bottom: 0rem;
                margin: auto;
            }
            /* my services */
            #services{
                width: 100%;
                position: relative;
                bottom: 0rem;
                text-align: center;
              
            }
            #services h1{
                padding: 0rem;
                font-size: 1.7rem;         
            }
            .container{
                width: 70%;
                padding: 1rem;
               
            }
            .service{
                color: #5a5656;
                font-size: 1.2rem;
               margin-right: 1rem;
            }
            .prevbtn,.nextbtn {
               padding: 1rem;
            }
           
            /* marketing */
            .marketing{
                width: 100%;
                padding: 0;
                margin-top: 10em;
            }
            .marketing h1{
                font-size: 1.7rem;
            }
            .flexmarket{
                flex-direction: column;
            }
            .campaigns img{
                margin-bottom: 2rem;
                width: 60%;
            }
            .cam1:hover .text1{
                visibility: hidden;
            }
            .cam2:hover .text2{
                visibility: hidden;
            }
            }
              /* brands */
              .brands{
                width: 100%;
                padding: 0rem;
                padding-bottom: 10rem;
             }
              .flexbrand{
                flex-direction: column;
               text-align: center;
            }
            .brands h1{
                font-size: 1.7rem;
                padding: 2rem;
            }
            .brand img{
                padding: 1rem;
                width: 12rem;
                height: 12rem;
                margin-bottom: 3rem;
            }
             /* contact me */
             #contact{
                width: 100%;
                padding: 0;
             }
             .con{
                font-size: 3rem;
            }
            #contact h1{
                font-size: 2rem;
            }
            .socials{
                flex-direction: column;
            }
            .socials a{
                font-size: 0.8rem;
            }
            .fac{
                padding: 1rem;
                text-align: left;
            }
            @media (max-width:900px){

                header{
                    background-position: right;
                    width: 100%;
                }
                /* navbar */
                .navbar{
                    flex-direction: column;
                    align-items: flex-start;
                   
                }
                .logo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    padding-top: 0.4rem;
                    padding-bottom: 0.4rem;
                }
                .logo p{
                    padding: 0;
                }
                .menubar{
                    display: contents; 
                }
                .menubar a{
                    color: white;
                    padding-right: 1rem;
                    animation: bounce 2s ease-in-out infinite;
                    padding: 0;
                }
                @keyframes bounce {
                    0% {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(1.5);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
                .navlinks{
                  display: none;
                }
                .mobilelinks{
                    display: none;
                }
                .appear{
                    display: contents;
                }
                img{
                    width: 30%;
                }
                .mobilelinks ul{
                    list-style: none;
                    padding: 0;
                    margin-left: 0.4rem;
                }
                .mobilelinks a{
                    display: block;
                    text-decoration: none;
                    color: white;
                    padding: 0.7em;
                    
                }
                .mobilelinks a:hover{
                    color: rgb(1, 1, 15);
                    background: white;
            
                }
                  /* profile */
                .imageprofile{
                    width: 80%;
                }
                .option li{
                    font-size: 0.8rem;
                }
                .main .text{
                    color: black;
                    font-size: 0.8rem;
                    font-weight: 400;
                    position: relative;
                    top: 3.3rem;
                    left: 1rem;
                }
                .imageprofile img{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 10rem;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    margin-top: 0.4rem;
                }
            
                 /* aboutme */
                 #body{
                    width: 100%;
                    padding: 0rem;
                    padding-top: 5rem;
                }
                #body h1{
                    font-size: 2rem;
                    position: relative;
                    top: 0rem;
                }
                .bodyimage img{
                    width: 12rem;
                    height: 17rem;
                }
                .flexbody{
                    flex-direction: column;
                    padding: 0;
                    margin: auto;
                }
                .bodytext{
                    margin: 0rem;
                    padding: 0rem;
                    position: relative;
                    bottom: 1rem;
                }
                .bodytext h2{
                    font-size: 1.7rem;
                    text-align: center;
                }
                .downloadbtn{
                    position: relative;
                    bottom: 0rem;
                    margin: auto;
                }
                /* my services */
                #services{
                    width: 100%;
                    position: relative;
                    bottom: 0rem;
                    text-align: center;
                  
                }
                #services h1{
                    padding: 0rem;
                    font-size: 1.7rem;         
                }
                .container{
                    width: 70%;
                    padding: 1rem;
                   
                }
                .service{
                    color: #5a5656;
                    font-size: 1.2rem;
                   margin-right: 1rem;
                }
                .prevbtn,.nextbtn {
                   padding: 1rem;
                }
               
                /* marketing */
                .marketing{
                    width: 100%;
                    padding: 0;
                    margin-top: 10em;
                }
                .marketing h1{
                    font-size: 1.7rem;
                }
                .flexmarket{
                    flex-direction: column;
                }
                .campaigns img{
                    margin-bottom: 2rem;
                    width: 60%;
                }
                .cam1:hover .text1{
                    visibility: hidden;
                }
                .cam2:hover .text2{
                    visibility: hidden;
                }
                }
                  /* brands */
                  .brands{
                    width: 100%;
                    padding: 0rem;
                    padding-bottom: 10rem;
                 }
                  .flexbrand{
                    flex-direction: column;
                   text-align: center;
                }
                .brands h1{
                    font-size: 1.7rem;
                    padding: 2rem;
                }
                .brand img{
                    padding: 1rem;
                    width: 12rem;
                    height: 12rem;
                    margin-bottom: 3rem;
                }
                 /* contact me */
                 #contact{
                    width: 100%;
                    padding: 0;
                 }
                 .con{
                    font-size: 3rem;
                }
                #contact h1{
                    font-size: 2rem;
                }
                .socials{
                    flex-direction: column;
                }
                .socials a{
                    font-size: 0.8rem;
                }
                .fac{
                    padding: 1rem;
                    text-align: left;
                }
            
        
    





