body{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.folobuy{
   display: flex;
   justify-content: space-between; 
   padding: 4rem;
}
img{
    width: 80%;
    border-radius: 4rem;
}
.folobuyimg{
    text-align: center;
    width: 30%;
    padding: 7rem;
    border-radius: 3rem;
    margin-right:3rem ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(0,0,0);
    background: linear-gradient(2deg, rgba(0,0,0,1) 0%, rgba(159,131,207,1) 14%, rgba(255,255,255,0.9220063025210083) 100%);
}
.folobuyimg h1{
    font-size: 2rem;
}
.folobuyimg h2{
    font-size: 1.7rem;
}
.folobuycampaign{
    background-color: white;
    margin-left: 2rem;
    width: 70%;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.folobuycampaign h1{
    font-size: 2.4rem;
    text-align: center;
}
ul{
    list-style: none;
}
h3{
    color: blue;
}
span{
    color: red;
}
.end{
    margin-left: 2rem;
}
p{
    margin-right: 2rem;
}
@media (max-width:400px){
    .folobuy{
        flex-direction: column;
        padding: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .folobuyimg{
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 3rem;
    }
    img{
        width: 100%;
    }
    .folobuyimg h1{
        font-size: 1.3rem;
        padding: 1rem;
    }
    .folobuyimg h2{
        font-size: 1rem;
        padding: 1rem;
    }
    .folobuycampaign{
        padding: 0;
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }
    .folobuycampaign h1{
        font-size: 2rem;
    }
}
@media (max-width:600px){
    .folobuy{
        flex-direction: column;
        padding: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .folobuyimg{
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 3rem;
    }
    img{
        width: 100%;
    }
    .folobuyimg h1{
        font-size: 1.3rem;
        padding: 1rem;
    }
    .folobuyimg h2{
        font-size: 1.0rem;
        padding: 1rem;
    }
    .folobuycampaign{
        padding: 0;
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }
    .folobuycampaign h1{
        font-size: 2rem;
    }
}
@media (max-width:768px){
    .folobuy{
        flex-direction: column;
        padding: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .folobuyimg{
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 3rem;
    }
    img{
        width: 100%;
    }
    .folobuyimg h1{
        font-size: 1.3rem;
        padding: 1rem;
    }
    .folobuyimg h2{
        font-size: 1.0rem;
        padding: 1rem;
    }
    .folobuycampaign{
        padding: 0;
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }
    .folobuycampaign h1{
        font-size: 2rem;
    }
}
@media (max-width:900px){
    .folobuy{
        flex-direction: column;
        padding: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .folobuyimg{
        padding: 0;
        margin: 0;
        width: 100%;
        border-radius: 3rem;
    }
    img{
        width: 100%;
    }
    .folobuyimg h1{
        font-size: 1.3rem;
        padding: 1rem;
    }
    .folobuyimg h2{
        font-size: 1.0rem;
        padding: 1rem;
    }
    .folobuycampaign{
        padding: 0;
        width: 100%;
        margin: auto;
        margin-top: 3rem;
    }
    .folobuycampaign h1{
        font-size: 2rem;
    }
}